.card {
  min-width: 300px;
  max-width: 360px;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  padding-bottom: 120px;
}

.posted-at {
  padding: 4px 6px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(6, 6, 6, 0.05);
  border: 1px solid rgb(230, 230, 230);
  max-width: max-content;

  font-size: 9px;
  line-height: 1.5;
  font-weight: 300;
}

.salary {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
  color: rgb(77, 89, 106)
}

.info-container {
  margin-top: 10px;
}

.info-title {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.info-subtitle {
  font-size: 14px;
  line-height: 1.5;
}

.skill-chips {
  margin-top: 7px;
  margin-bottom: 2px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skill-chip {
  max-width: max-content;
  font-size: 9px;
  font-weight: 400;
  color: #4943da;
  background-color: #d9fed3;
  padding: 2px 7px;
  border-radius: 50px;
}

@media only screen and (max-width: 1440px) {
  .card {
    max-width: 320px;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    max-width: 310px;
  }
}
