@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.App {
  width: 100%;
  font-family: "Lexend", sans-serif;
}

.card:hover {
  transform: scale(1.02);
  transition: all ease 0.3s;
}

.cards-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
  flex-wrap: wrap;
  gap: 24px 8px;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    margin: 2rem 2rem;
  }
}
